<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/responce_index.css">
    <link rel="stylesheet" href="../stylesheets/properties.css">
</head>
<body>
    <div class="nav">
        <div class="logo">
          <img src="https://1000logos.net/wp-content/uploads/2023/01/Airbnb-logo.png" alt="">

        </div>

        <div class="nav-mid">
          <a href="#">Anywhere</a>
          <a href="#">Anyweek</a>
          <a style="color: gray;" href="#">Add guests</a>
          <div class="nav-icon">
            <i style="cursor: pointer;" class="ri-search-line"></i>
          </div>
        </div>

        <div class="nav-last">
          <p>Airbab your home</p>
          <i style="font-size: 25px;"class="ri-global-line"></i>
          <div class="nav-last-last">
            <i style="cursor: pointer;"  class="ri-menu-line"></i>
            <div class="nav-pic">
              <img src="https://images.unsplash.com/photo-1677419424166-a65d8aec0d51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="top-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, expedita. </p><br>
        <div class="bottom-line">
            <i class="ri-star-s-fill"></i><span>4.23</span><a href="#">183 reviews </a><p>superhost .</p>
        <i>delhi</i><i>mumbai</i><i>pune</i>
        <i id="share" class="ri-share-box-line"><a style="margin-left: 8px; margin-top: -5px;" href="#">Share</a></i>
        <i style="margin-left: 12px;" class="ri-heart-line"><a style="margin-left: 8px; margin-top: -5px;" href="#">Save</a></i>
        </div>
      </div>

      <div class="img">
        <div class="img-left"><img src="https://a0.muscache.com/im/pictures/c7d80ba3-78c2-49c4-a6ff-14cd4cb8efdb.jpg?im_w=960" alt=""></div>
        <div class="img-right">
          <div class="img-right-left">
            <div class="img-top"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-48004394/original/c0769d10-491d-439a-a841-ac40d3413e50.jpeg?im_w=720" alt=""></div>
            <div class="img-bottom"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-48004394/original/b7e1d097-69b1-4680-a5c2-9447b958e3e5.jpeg?im_w=720" alt=""></div>
          </div>
          <div class="img-right-right">
            <div class="img-top"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-48004394/original/1606d410-56a6-4fcc-9da7-89c7a6600941.jpeg?im_w=720" alt=""></div>
            <div class="img-bottom"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-48004394/original/dd617ecf-08cd-468d-8925-6b0f7505b181.jpeg?im_w=720" alt=""></div>
          </div>
        </div>
      </div>

      <div class="bottom-content">
        <div class="one">
          <h1>Castle hosted by Raunak</h1>
          <p>8 guests . 4 bedrooms . 4 beds . 6 bathrooms</p>
          <br>
        <hr>
        <div class="two">
          
          <p style="color: black; font-weight: bold; font-size: 20px;margin-top: 30px;">Dedicated workspace</p>
          <p style="margin-top: 10px;">A common area with wifi that’s well suited for working.</p>
         
        </div>
        <div class="three">
          
          <p style="color: black; font-weight: bold; font-size: 20px;margin-top: 30px;">Self check-in</p>
          <p style="margin-top: 10px;">Check yourself in with the lockbox.</p>
          
        </div>

       
        <div class="four">
          
          <p style="color: black; font-weight: bold; font-size: 20px;margin-top: 30px;">Raunak is a Superhost</p>
          <p style="margin-top: 10px;">Superhosts are experienced, highly rated hosts who are committed to providing great stays for their guests.</p>
         <br>
         <hr>
        </div>

        <div style="margin-top: 30px;" class="t2">
          <h1 ><span style="color: red;">air</span>cover</h1>
         
          <p style="margin-top: 17px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, illum reprehenderit praesentium sunt repudiandae ducimus?</p>
          <br>
          <a style="color: black; margin-top: 17px;" href="#">Learn more</a>
          <br><br>
          <br>
          <hr>
        </div>

        <div style="margin-top: 30px;" class="t3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestias provident, aliquam dolores sapiente laborum?</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestias provident, aliquam dolores sapiente laborum?</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestias provident, aliquam dolores sapiente laborum?</p>
        <br>
        <a style="color: black;" href="#">Learn more</a>
        <br><br><br>
        <hr>
        </div>

        
<div class="popup-container">
  <div class="popup-header">
    <h2>Reserve your stay</h2>
    <span class="popup-close">&times;</span>
  </div>
  <div class="popup-content">
    <form action="/reserve">
      <label for="check-in">Check-in:</label>
      <input type="date" id="check-in" name="check-in" required>
      <label for="check-out">Check-out:</label>
      <input type="date" id="check-out" name="check-out" required>
      <label for="guests">Guests:</label>
      <input type="number" id="guests" name="guests" min="1" max="10" required>
      <button style="background-color: rgba(255, 0, 0, 0.845);" type="submit">Reserve</button>
    </form>
    
  </div>
</div>


        </div>

        <div class="review">
          <p style="opacity: 0.8; font-weight: bold;font-size: 20px; margin-top: 30px;"><i class="ri-star-s-fill"></i><span style="color: white;">..</span>4.76 · 17 reviews</p>
          <div class="review-section">
            <div class="reviews">
              <div class="top">
                <div class="pic"><img src="https://images.unsplash.com/photo-1677715156741-b7af71207c4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt=""></div>
                <div class="content">
                  <p style="font-weight: bold; opacity: 0.7;">Hope</p>
                  <p>Febuary 2023</p>
                </div>
              </div>
              <p style="margin-top: 20px;">consectetur adipisicing elit. Officia molestias eveniet dolores minima dolorem ipsum asperiores consectetur doloremque facilis neque, eum recusandae quo, ab accusamus rerum quia est odit impedit?</p>
              <br>
              <a style="color: black; font-size: 20px; font-weight: 500; " href="#">Show more</a>
            </div>
            <div class="reviews">
              <div class="top">
                <div class="pic"><img src="https://images.unsplash.com/photo-1677715156741-b7af71207c4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt=""></div>
                <div class="content">
                  <p style="font-weight: bold; opacity: 0.7;">Hope</p>
                  <p>Febuary 2023</p>
                </div>
              </div>
              <p style="margin-top: 20px;">consectetur adipisicing elit. Officia molestias eveniet dolores minima dolorem ipsum asperiores consectetur doloremque facilis neque, eum recusandae quo, ab accusamus rerum quia est odit impedit?</p>
              <br>
              <a style="color: black; font-size: 20px; font-weight: 500; " href="#">Show more</a>
            </div>
          </div>
          <div class="review-section">
            <div class="reviews">
              <div class="top">
                <div class="pic"><img src="https://images.unsplash.com/photo-1677715156741-b7af71207c4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt=""></div>
                <div class="content">
                  <p style="font-weight: bold; opacity: 0.7;">Hope</p>
                  <p>Febuary 2023</p>
                </div>
              </div>
              <p style="margin-top: 20px;">consectetur adipisicing elit. Officia molestias eveniet dolores minima dolorem ipsum asperiores consectetur doloremque facilis neque, eum recusandae quo, ab accusamus rerum quia est odit impedit?</p>
              <br>
              <a style="color: black; font-size: 20px; font-weight: 500; " href="#">Show more</a>
            </div>
            <div class="reviews">
              <div class="top">
                <div class="pic"><img src="https://images.unsplash.com/photo-1677715156741-b7af71207c4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt=""></div>
                <div class="content">
                  <p style="font-weight: bold; opacity: 0.7;">Hope</p>
                  <p>Febuary 2023</p>
                </div>
              </div>
              <p style="margin-top: 20px;">consectetur adipisicing elit. Officia molestias eveniet dolores minima dolorem ipsum asperiores consectetur doloremque facilis neque, eum recusandae quo, ab accusamus rerum quia est odit impedit?</p>
              <br>
              <a style="color: black; font-size: 20px; font-weight: 500; " href="#">Show more</a>
            </div>
          </div>
        </div>
       
        
      </div>

      <div class="footer">
        <footer>
          <div class="footer-content">
            
            <div class="footer-section contact">
              <h3>support</h3>
              <ul style="line-height: 200%;">
                <li><i class="fa fa-phone"></i>Help Centre</li>
                <li><i class="fa fa-envelope"></i> AirCover</li>
                <li><i class="fa fa-map-marker"></i>Supporting people with disabilities</li>
                <li><i class="fa fa-envelope"></i> Cancellation options</li>
                <li><i class="fa fa-envelope"></i> Our COVID-19 Response</li>
                <li><i class="fa fa-envelope"></i> Report a neighbourhood concern</li>
              </ul>
            </div>
            <div class="footer-section links">
              <h3>Community</h3>
              <ul style="line-height: 200%;">
                <li><a href="#">Airbnb.org: disaster relief housing</a></li>
                <li><a href="#">Combating discrimination</a></li>
               
              </ul>
            </div>
            <div class="footer-section contact">
              <h3>Hosting</h3>
              <ul style="line-height: 200%;">
                <li><i class="fa fa-phone"></i>Airbnb your home</li>
                <li><i class="fa fa-envelope"></i> AirCover for Hosts</li>
                <li><i class="fa fa-map-marker"></i>Explore hosting resources</li>
                <li><i class="fa fa-envelope"></i> Visit our community forum</li>
                <li><i class="fa fa-envelope"></i> How to host responsibly</li>
                
              </ul>
            </div>
            <div class="footer-section contact">
              <h3>Airbnb</h3>
              <ul style="line-height: 200%;">
                <li><i class="fa fa-phone"></i>Newsroom</li>
                <li><i class="fa fa-envelope"></i> Learn about new features</li>
                <li><i class="fa fa-map-marker"></i>Letter from our founders</li>
                <li><i class="fa fa-envelope"></i> Careers</li>
                <li><i class="fa fa-envelope"></i> Investors</li>
                
              </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>© 2023 Airbnb, Inc. · Privacy . TermsSite . mapCompany details</p>
          </div>
        </footer>
        
      </div>
      
      



      <div class="popup-login">
        <div class="top">
          <a id="popup-login"  style="color: black;" href="#">Login</a><br>
          <a id="popup-signup" href="#">Sign up</a>
        </div>
        <hr>
        <div class="bottom">
          <a href="#">Airbnb your home</a><br>
          <a href="#">Host an experiance</a><br>
          <a href="#">Help</a>
        </div>
    
      </div>
    
      <div class="search">
        <div class="search-content">
          <div class="search-1">
              <p>Where</p>
              <input placeholder="search destination" type="text">
          </div>
          <div class="search2">
            <p>Check in</p>
            <p style="color: rgba(0, 0, 0, 0.439);">Add dates</p>
    
          </div>
          <div class="search2">
            <p>Check out</p>
            <p style="color: rgba(0, 0, 0, 0.439);">Add dates</p>
            
          </div>
          <div class="search2">
            <p>Who</p>
            <p style="color: rgba(0, 0, 0, 0.439);">Add guest</p>
            
          </div>
          <div style="cursor: pointer;" id="login-btn" class="button">
            <i class="ri-search-line"></i>
            <p>Search</p>
          </div>
          <div style="color: #F0F0F0;" class="space">..</div>
        </div>
      </div>
    
      <div class="login">
        <div class="login-page">
          <h1>Welcome to Airbnb</h1>
          <form action="#" method="post">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
          </form>
          <i class="ri-close-line"></i>
        </div>
      </div>
    
      <div class="signup">
        <div class="signup-page">
          <h1>Sign Up for Airbnb</h1>
          <form action="#" method="post">
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="username" placeholder="username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Sign Up" />
          </form>
          <i id="close-icon" class="ri-close-line"></i>
        </div>
      </div>


      <script>
        function menu(){
    var menu = document.querySelector(".ri-menu-line");
    var flag = 0;
    menu.addEventListener("click",function(){
      
      var popup = document.querySelector(".popup-login");
      if(flag === 0){
        popup.style.display = "block";
        flag = 1;
      }
      else{
        popup.style.display = "none";
        flag = 0;
      }
     
      
    })
   }
  menu();

  function search(){
    
    var search = document.querySelector(".ri-search-line");
    var btn = document.querySelector("#login-btn");
    search.addEventListener("click",function(){
      var popup = document.querySelector(".search");
      popup.style.display = "flex";
     })
     btn.addEventListener("click",function(){
      var popup = document.querySelector(".search");
      popup.style.display = "none";
     })

  }

  search();

  function login(){
    var login = document.querySelector("#popup-login");
    var icon = document.querySelector(".ri-close-line");
    login.addEventListener("click",function(){
      
      var popup = document.querySelector(".login-page");
      popup.style.display = "block";
      document.querySelector(".popup-login").style.display = "none";
      
     })
     icon.addEventListener("click",function(){
      
      var popup = document.querySelector(".login-page");
      popup.style.display = "none";
      
     })
  }
  login();

  function signup(){
    var signup = document.querySelector("#popup-signup");
    var icon = document.querySelector("#close-icon");
    signup.addEventListener("click",function(){
      
      var popup = document.querySelector(".signup-page");
      popup.style.display = "block";
      document.querySelector(".popup-login").style.display = "none";
      
     })
     icon.addEventListener("click",function(){
      
      var popup = document.querySelector(".signup-page");
      popup.style.display = "none";
      
     })
  }
  signup();
      </script>
</body>
</html>